@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
:root{

    --shadow: 04px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);

}

body{
    background-color: rgba(232, 233, 239, 1);
    font-family: 'Roboto', sans-serif;
}

#welcome-message{
    text-align: center;
    margin: 20px;
}

#welcome-message h1{
    font-size: 35px;
}
#welcome-message p{
    font-size: 15px;
}

.form-field{
    margin: 20px;
}

.form-field label{
    font-family: 17px;
    line-height: 1.7em;

} 
.form-field input{
    width: 100%;
    border: 2px solid rgba(198, 202, 219, 1);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; 
}
.form-field input[type='submit']{
background-color: rgba(75, 93, 172, 1);
border: none;
color: #fff;
}



#logo{
    display: block;
    width: 100px;
    margin: 0 auto;
}

#form-container{
    
    width: 400px;
    box-shadow: var(--shadow);
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}


@media screen and (max-width:450px) {
    #form-conteiner{
        width: 95%;
    }
    #welcome-message h1 {
        font-size: 24px; 
    }
}